.space
  .container
    .row
      .col-sm-8
        %h1 Editing Book: #{@book.title}
        = render 'form'
        = link_to 'Show', @book, class: 'btn'
        = link_to 'Back', books_path, class: 'btn'
